main {
  display: flex;
  text-align: center;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.ticker {
  margin: 0;
}
.header {
  width: 100%;
  height: 70px;
  color: red;
  border-bottom: solid white 2px;
  
}

.guess {
  border: 1px solid grey;
  font-style: bold;
  color: white;
  text-align: center;
  width: 320px;
  padding: 10px;
  height: 20px;
  margin: 0 auto;
  
}

.guesser {
  width: 500px;
  display: flex;
  margin-left: 75px;
}
input {
  background: none;
  border: 1px solid white;
  justify-self: center;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

input[type=text] {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
::placeholder {
color: lightgray;
  opacity: 70%;
}

button {
  background-color: green;
  border: none;
  height: 30px;
  margin-left: 10px;
  padding: 7px;
  margin-top: 12.5px;
  font-weight: bold;
  border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  cursor: pointer;
  color: white;
}