html, body, #root {
  min-height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}


body {
  font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #121212;
  text-align: center;
  color: white;
  font-weight: 700;
  overflow-x: hidden;
  margin: 0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
